page-profile-details {

  .contenido {
    background: color($colors, lgnBtn);
  }

  .roundImage {
    margin-top: 10%;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    border: 1.5px solid white;
  }

  .promotions {
    padding-top: 5%;
  }

  ion-col img{
    width: 23%;
    margin-left: -15%;
  }

  .inpTxt{
    width: 100%;
    margin-left: -30%;
  }

  .iconGender {
    margin-left: -15%;
    font-size: 2.4em;
    font-weight: bold;
  }

  .clrFooter{
    background: color($colors, headProfile)
  }

  .closeSesion {
    color: color($colors, goToBtn);
  }

  .showInfo {
    background: color($colors, light) !important;
  }
}
