page-promos {

 ion-header img{
   position: relative;
   margin: 0 auto;
   width: 20%;
 }

 ion-header{
   background-color: color($colors, insti);
 }

 ion-item{
   width: 100%;
 }

 .item-inner {
   border-bottom: 0.55px solid color($colors, insti) !important;
 }

 ion-row{
   width: 100%;
 }

 .branchImage{
    width: 100%;
    background-image: url(/assets/img/branchoffices/Constituyentes_2.JPG);
    background-size: cover;
    background-position: center;
 }

 ion-row img {
   width: 100%;
 }

 .brancDetails {
   width: 55%;
   padding: 10px;
 }

 .promo-box {
   padding-left: 0;
 }

 .nomargin {
   margin: 0;
 }

 .promo-title{
   @font-face {
     font-family: 'Open Sans Semibold';
     font-style: normal;
     src:url('https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTRa1RVmPjeKy21_GQJaLlJI.woff') format('woff');
     unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
   }
   color: color($colors, "insti");
   font-weight: bold;
   font-family: 'Open Sans', sans-serif;
   font-size: 17px;
 }

 .details {
   @font-face {
     font-family: 'Open Sans Light';
     font-style: normal;
     font-weight: 300;
     src:url('https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTRa1RVmPjeKy21_GQJaLlJI.woff') format('woff');
     unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
   }
   font-size: 15px;
   font-weight: lighter;
   color: color($colors, "insti");
 }


}
