<ion-header color="insti" text-center>
  <img src="assets/img/common/logo.png">
  <ion-searchbar
    [showCancelButton]="shouldShowCancel"
    (ionInput)="onInput($event)">
  </ion-searchbar>
</ion-header>

<ion-content class="cards-bg">
  <div *ngFor="let branch of branchOffices; let i = index;">

    <ion-item *ngIf="i != 0">
      <ion-row>
        <ion-col class="branchImage" text-center>
          <img src="{{branch.uriImage}}" (click)="goToPromoDetails( i )" />
        </ion-col>
        <ion-col class="brancDetails">
          <p class="promo-title">
            Sucursal:
          </p>
          <p text-left class="details">
            {{branch.name}} <br>
            {{branch.address}}
          </p>
          <p class="promo-title">
            Promoci&oacute;n del d&iacute;a:
          </p>
          <p class="promo-content" class="details">
            {{branch.promotions}}
          </p><br>
          <button ion-button small color="goToBtn" (click)="showMap( i )" icon-left round>
            Como llegar
          </button>
        </ion-col>
      </ion-row>
    </ion-item>

  </div>
</ion-content>
