page-promos {

  ion-content{
    background: #967F71;
  }

  ion-card {
   position: relative;
   text-align: center;
   background: #fffce6;
   height: 170px;
 }

 ion-card img {
  width: 22%;
  height: 40%;
  margin-top: 15%;
 }

 ion-card-content{
   position: absolute;
   top: 5%;
   margin-left: 25%;
   width: 100%;
 }

 ion-row{
   top: 1%;
   padding: 5px;
   width: 100%;
 }
 .promo-title{
   color: color($colors, promos);
   font-weight: bold;
   font-family: 'Open Sans', sans-serif;
   font-size: 125%;
 }
}
