page-promos {

  ion-content{
    background: #967F71;
  }

  ion-card {
   position: relative;
   text-align: center;
   background: #fffce6;
   height: 225px;
 }

  ion-card img {
    width: 45%;
    margin-top: 24%;
 }

 ion-header img{
   position: relative;
   margin: 0 auto;
   width: 20%;
 }

 ion-header{
   background-color: color($colors, insti);
 }

 button{
   width: 90%;
 }

 ion-card-content{
   position: absolute;
    top: 5%;
    margin-left: 40%;
    width: 65%;
    padding: 5px
 }

 ion-row{
   width: 100%;
 }
 .promo-title{
   @font-face {
     font-family: 'Open Sans Semibold';
     font-style: normal;
     src:url('https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTRa1RVmPjeKy21_GQJaLlJI.woff') format('woff');
     unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
   }
   color: color($colors, "insti");
   font-weight: bold;
   font-family: 'Open Sans', sans-serif;
   font-size: 17px;
 }

 .details {
   @font-face {
     font-family: 'Open Sans Light';
     font-style: normal;
     font-weight: 300;
     src:url('https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTRa1RVmPjeKy21_GQJaLlJI.woff') format('woff');
     unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
   }
   font-size: 15px;
   font-weight: lighter;
   color: color($colors, "insti");
 }
}
