page-profile {
  .cont{
    background: url("../../assets/img/login/04.png");
    background-repeat: no-repeat;
    background-position: center;
  }
  .clTrans{
    background: color($colors, 'instiTrans');
  }
  .imgCont{
    align-items: center;
    height: 50%;
  }
  .logo{
    width: 70%;
    padding-top: 50%;
    margin: 0 auto;
  }
  .common{
    margin: 0 auto;
    height: 100%;
  }
  .visits{
    height: 10%;
    background: color($colors, 'lgnBtn');
    margin-top: 68%;
  }

  div span{
    font-size: 17px;
  }

  ion-col div{
    font-size: 23px;
  }
}
