page-profile {

  .contenido {
    width: 100%;
    height: 76%;
    background-image: url("../assets/img/login/04.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .promotions {
    width: 100%;
  }

  .infoRound {
    border-radius: 50%;
    width: 50px;
    height: 50px;
	  border: 1px solid color($colors, insti);
    margin: 0 auto;
    @font-face {
      font-family: 'Open Sans Light';
      font-style: normal;
      font-weight: 300;
      src:url('https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTRa1RVmPjeKy21_GQJaLlJI.woff') format('woff');
      unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
    }
    font-weight: bold;
    color: color($colors, insti);
    font-size: 13px
  }

  .infoName {
    @font-face {
      font-family: 'Open Sans Light';
      font-style: normal;
      font-weight: 300;
      src:url('https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTRa1RVmPjeKy21_GQJaLlJI.woff') format('woff');
      unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
    }
    font-weight: lighter;
    color: color($colors, insti);
    font-size: 15px
  }

  .roundImage {
    margin-top: 10%;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    border: 1.5px solid white;
  }

  .userName {
    @font-face {
      font-family: 'Open Sans Light';
      font-style: normal;
      font-weight: 300;
      src:url('https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTRa1RVmPjeKy21_GQJaLlJI.woff') format('woff');
      unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
    }
    font-weight: lighter;
    color: color($colors, light);
    font-size: 30px;
  }

  .userEmail {
    @font-face {
      font-family: 'Open Sans Regular';
      font-style: normal;
      font-weight: 300;
      src:url('https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTRa1RVmPjeKy21_GQJaLlJI.woff') format('woff');
      unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
    }
    font-weight: lighter;
    color: color($colors, light);
    font-size: 20px;
  }

}
