<ion-content>
  <sebm-google-map [latitude]="lat" [longitude]="lng" [zoom]="12">
    <sebm-google-map-marker
      [latitude]="coordinate.lat"
      [longitude]="coordinate.lng"
      [label]="M"
      [title]="coordinate.name"
      (markerClick)="showMapDetails(i)"
      (mouseOut)="closeMarkerDetails()"
      [iconUrl]="coordinate.icon" *ngFor="let coordinate of coordinates; let i = index" >
    </sebm-google-map-marker>
  </sebm-google-map>
  <ion-item class="branchInfo" *ngIf="showInfo" color="promos">
    <ion-row>
      <ion-col class="brancDetails">
        <p class="promo-title">
          Sucursal:
        </p>
        <p text-left class="details" text-wrap>
          {{branchSelected.name}} <br>
          {{branchSelected.address}}
        </p>
        <p class="promo-title">
          Tel:
        </p>
        <p class="promo-content" class="details">
          {{branchSelected.telefono}}
          <button ion-button small color="goToBtn" (click)="showMap()" icon-left round>
            Como llegar
          </button>
        </p>
      </ion-col>
    </ion-row>
  </ion-item>
</ion-content>
