<ion-content>
  <sebm-google-map [latitude]="lat" [longitude]="lng" [zoom]="10">
    <sebm-google-map-marker
      [latitude]="coordinate.lat"
      [longitude]="coordinate.lng"
      [label]="M"
      [title]="coordinate.name"
      (markerClick)="showMapDetails(i)"
      [iconUrl]="coordinate.icon" *ngFor="let coordinate of coordinates; let i = index" >
    </sebm-google-map-marker>
  </sebm-google-map>
  <ion-item class="branchInfo" *ngIf="showInfo" color="lgnBtn">
    <ion-row>
      <ion-col>
        <img src="{{branchSelected.uriImage}}"/>
      </ion-col>
      <ion-col>
        <p class="promo-title">
          Sucursal:
        </p>
        <span class="details"> {{branchSelected.name}} </span><br>
        <span class="details"> {{branchSelected.address}} </span><br>
        <span class="promo-title">
          Tel:
        </span>
        <span class="details"> 55000000 </span>
        <button ion-button (click)="showMap()" color="goToBtn" small round>
           Como llegar
        </button>
      </ion-col>
    </ion-row>
  </ion-item>
</ion-content>
