page-branchoffice {
  .sebm-google-map-container {
    height: 85%;
  }
  .branchInfo{
    height: 10%;
  }

  ion-card img {
    width: 22%;
    height: 85%;
    margin-top: 5%;
  }

  ion-card-content{
    margin-top: -20%;
    margin-left: 25%;
    width: 100%;
  }

}
